# Cours d'introduction pour apprendre les bases

Les cours dans ce site ne vont pas expliquer comment installer Python ou écrire des fichiers. Les informations pour faire tout cela peuvent être trouvées sur [python.org](https://python.org).

## Types de données, opérations

Dans cette section, on introduira les principaux types de données (*data tyes*) utilisés en Python. Une fonction qu'on utilisera souvent est `print`, qui nous permet d'afficher quelque chose à l'écran :

In [1]:
print("Hello World!") # affiche Hello World! à l'écran

Hello World!

Remarquez qu'on peut écrire un *commentaire* sur la même ligne, déclaré avec un `#`. J'utiliserai souvent ça pour expliquer ce que font certaines lignes.

### Nombres

On étudiera principalement deux types de nombres en Python. 
Les `int`, ou nombres entiers, s'écrivent simplement comme on les écrirait en chiffres. Avec ces nombres, on peut additionner, soustraire, multiplier, diviser, passer à l'exposant... comme ceci :

In [2]:
print(2+3) # deux plus trois
print(2*3) # deux fois trois
print(2**3) # deux à la puissance trois

print(14/3) # quatorze divisé par trois

5
6
8
4.666666666666667

Ici, le dernier résultat, de `14/3`, est un nombre à virgule. Pour des nombres comme $14/3$ qui ne sont pas des entiers, on tombera parfois sur des nombres avec une infinité de chiffres après la virgule. C'est pour cela qu'on verra parfois des arrondis après un certain nombre de chiffres, comme c'est le cas ici.

Les rationnels non entiers sont ainsi représentés par un nouveau type de données, les `float`.
On peut vérifier quel est le type de données d'un nombre avec `type` :

In [4]:
print(type(14))
print(type(14/3))
print(type(14/1))

<class 'int'>
<class 'float'>
<class 'float'>

Attention, ici on a vérifié quel était le type de `14/1` qui devrait donner $14$, un entier, mais Python suppose que le résultat d'une division donnera un `float`, car c'est plus mathématiquement correct avec l'opérateur `/`.

Pour effectuer des divisions sans quitter les entiers, on utilise plutôt la division euclidienne. Division euclidienne de $a$ par $b$ : 
$$a = b \times q + r$$
où $q$ est le quotient, et $r$ est le reste (on a toujours $0 < r < b$).

Le quotient de la division euclidenne s'obtient avec `//` et le reste avec `%`.

In [6]:
print(14//3)
print(14%3)

4
2

On a en effet $14 = 3 \times 4 + 2$.

Tout ce qui a été dit jusqu'à présent est toujours valable avec des valeurs stockées dans des *variables*.
Pour déclarer une variable, on écrit :

In [8]:
a = 2
b=0.5
p = 1
print(b-a)

-1.5

`a` est le nom de la première variable et $2$ est sa valeur. Comme on peut voir, la soustraction donne un nombre négatif ici, qui est de type `float`. 
Le nom d'une variable ne peut pas commencer par un chiffre, et ne peut pas contenir de symboles à part pour `_`. C'est d'ailleurs très commun, en nommant des variables, de séparer les mots par des `_`.

### Chaînes de caractères

On peut affecter d'autres valeurs à des variables, comme des chaînes de caractères (*string*, ou `str`).

In [10]:
texte = "Hello World!"
print(texte)

Hello World!

Les opérations qu'on peut effectuer entre deux objects de type *string* sont limitées, mais la plus utile est sans doute l'opérateur `+`, qui permet de concaténer.

In [11]:
texte = "Hippo" + "potame"
print(texte)

Hippopotame

On peut aussi convertir les types de données, avec le nom du type. Cette conversion s'appelle un *transtypage*. Attention, il faut vérifier que le type qu'on veut obtenir est valide pour la donnée d'entrée.

In [13]:
print(type( str(14/3) ))

print(type( int("123" + "456") ))

print(type( float( 1+2 ) ))

print(type( int("Hello World!") ))

<class 'str'>
<class 'int'>
<class 'float'>

ValueError: invalid literal for int() with base 10: 'Hello World!'

Une dernière fonctionnalité de `print` qu'on n'a pas utilisé jusqu'à présent est l'option d'afficher plusieurs valeurs, séparés par des virgules.

In [9]:
print("Deux fois trois donne", 2*3)
print("Deux fois trois donne" + str(2*3))
print("Deux fois trois donne" + 2*3)

Deux fois trois donne 6
Deux fois trois donne6

TypeError: can only concatenate str (not "int") to str

La raison pour laquelle on obtient une erreur sur le troisième cas nécessite une meilleure compréhension des chaînes de caractères. 
- Dans le premier cas, on affiche 2 valeurs, la valeur de `"Deux fois trois donne"` et la valeur de `2+3`. L'interpréteur Python évalue chaque valeur et la transtype en *string* si nécessaire. C'est le cas pour la deuxième valeur, qui est de type `int` (nombre entier).
- Dans le deuxième cas, on affiche 1 valeur, la valeur de `"Deux fois trois donne" + str(2*3)`. Quand l'interpréteur Python évalue ce terme, il obtient d'abord `"Deux fois trois donne6"`, puis vérifie si le transtypage à `str` est nécessaire (elle ne l'est pas car notre opération donne déjà un *string*).
- Dans le troisième cas, on affiche 1 valeur, la valeur de `"Deux fois trois donne" + 2*3`. Quand l'interpréteur Python évalue ce terme, il essaie d'utiliser l'opérateur `+` entre les deux termes. Mais les opérations entre des `str` et des `int` n'ont pas été implémentées, comme le précise le message d'erreur.

Dernièrement, on peut multiplier des chaînes de caractères par des entiers pour les concaténer à eux-mêmes.

In [14]:
a = "Je suis "
b = "dans un placard "
print(a+b*3)

Je suis dans un placard dans un placard dans un placard

### Booléens

Les *booléens* (type `bool`) sont une des deux valeurs `True` ou `False`.

On obtient un booléen en évaluant une expression.

In [18]:
print("2+2 == 4 :", 2+2 == 4)
print("3 < 2 :", 3 < 2)
print("True or False :", True or False)
print("True and False :", True and False)
print("(32 <= 33) or (33 % 3 != 0) :", (32 <= 33) and (33 % 3 != 0))
print("(32 <= 33) and (33 % 3 != 0) :", (32 <= 33) and (33 % 3 != 0))

2+2 == 4 : True
3 < 2 : False
True or False : True
True and False : False
(32 <= 33) or (33 % 3 != 0) : False
(32 <= 33) and (33 % 3 != 0) : False

On peut évaluer des expression avec `<`, `<=`, `>`, `>=`, `==` ou `!=` ("n'est pas égal"), mais on peut aussi évaluer en utilisant d'autres méthodes qu'on n'explorera pas pour l'instant.

Un dernier opérateur est l'opérateur `not`, qui permet de changer la valeur d'un booléen.

In [22]:
print(not True)
print(not False)
print(not not not not not (2+2 == 4))

False
True
False